In [1]:
# for presentation purposes
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

# visualize 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns


# working with dates
from datetime import datetime

# to evaluated performance using rmse
from sklearn.metrics import mean_squared_error
from math import sqrt 

# for tsa 
import statsmodels.api as sm

# holt's linear trend model. 
from statsmodels.tsa.api import Holt

# Exercises
The end result of this exercise should be a Jupyter notebook named model.

Use either the SAAS dataset or the store data and:

1. Split data (train/validate/test) and resample by any period except daily. Aggregate using the sum.
1. Forecast, plot and evaluate using each of the 4 parametric based methods we discussed:
    - Simple Average
    - Moving Average
    - Holt's Linear Trend Model
    - Based on previous year/month/etc., this is up to you.


### Bonus
Using the store data:

1. Predict 2018 total monthly sales for a single store and/or item by creating a model.
1. Return a dataframe with the month, store_id, y-hat, and the confidence intervals (y-hat lower, y-hat upper). The upper and lower bounds of the predictions are auto generated when using the facebook prophet model, or you could calculate your own using, for example, bollinger bands.
1. Plot the 2018 monthly sales predictions.

In [2]:
df = pd.read_csv('saas.csv')
df.head()

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [3]:
df.isna().sum()

Month_Invoiced       0
Customer_Id          0
Invoice_Id           0
Subscription_Type    0
Amount               0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790458 entries, 0 to 790457
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month_Invoiced     790458 non-null  object
 1   Customer_Id        790458 non-null  int64
 2   Invoice_Id         790458 non-null  int64
 3   Subscription_Type  790458 non-null  float64
 4   Amount             790458 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 30.2+ MB

In [5]:
df.describe()

        Customer_Id    Invoice_Id  Subscription_Type         Amount
count  7.904580e+05  7.904580e+05      790458.000000  790458.000000
mean   1.012913e+06  5.395228e+06           0.599235       2.996174
std    7.591992e+03  2.281857e+05           0.950380       4.751901
min    1.000000e+06  5.000000e+06           0.000000       0.000000
25%    1.006405e+06  5.197614e+06           0.000000       0.000000
50%    1.012797e+06  5.395228e+06           0.000000       0.000000
75%    1.019154e+06  5.592843e+06           1.000000       5.000000
max    1.029399e+06  5.790457e+06           4.000000      20.000000

In [6]:
df.columns = [column.lower() for column in df]

In [7]:
df.month_invoiced = pd.to_datetime(df.month_invoiced)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790458 entries, 0 to 790457
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   month_invoiced     790458 non-null  datetime64[ns]
 1   customer_id        790458 non-null  int64
 2   invoice_id         790458 non-null  int64
 3   subscription_type  790458 non-null  float64
 4   amount             790458 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 30.2 MB

In [8]:
df = df.set_index('month_invoiced').sort_index()

In [9]:
df.subscription_type.value_counts()

0.0    496410
1.0    178212
2.0     70706
3.0     26474
4.0     18656
Name: subscription_type, dtype: int64

In [10]:
df.subscription_type = df.subscription_type.astype(int)

In [ ]:
# Split data (train/validate/test) and resample by any period except daily. Aggregate using the sum.
# Forecast, plot and evaluate using each of the 4 parametric based methods we discussed:
#   - Simple Average
#   - Moving Average
#   - Holt's Linear Trend Model
#   - Based on previous year/month/etc., this is up to you.